<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Sign In</h1>
    <br>
    <p *ngIf="msg!=null" class="alert alert-warning" role="alert">{{msg}}</p>
    <br>
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" name="email" id="email" class="form-control"
          email
          ngModel
          required 
          #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" 
          ngModel 
          required
          #password="ngModel">
          <span class="help-block" *ngIf="!password.valid && password.touched">Password required</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
    </form>
  </div>
</div>